@import 'style/font';
@import 'style/mixins';

.news__list {
  max-width: 1000px;
  width: calc(100vh - 40px);
}
.news__list .ant-list-item-meta-title {
  font-family: $TitleFont;
  text-transform: uppercase;
}
.news__list-details {
  @include line-clamp(2);
  text-align: justify;
}
.news__list-message {
  text-align: center;
}
.news__list-pagination {
  float: right;
}
.news__list-title {
  font-family: $TitleFont;
  font-size: 2rem;
  font-weight: bold;
}
