@import 'style/theme';

.analysis-option {
  margin-top: 10px;
  width: 100%;
}
.analysis-option .ant-input-number,
.analysis-option .ant-select {
  width: 100%;
}
.analysis-option ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 30px;
}
.analysis-option__help {
  margin-top: 5px;
  text-align: justify;
}
.analysis-option__help > :first-child {
  color: $primary-dark;
}
.anaylsis-option__advanced {
  margin-top: 15px;
}
.anaylsis-option__advanced-inner {
  margin-top: 15px;
}
.anaylsis-option__advanced-inner > :not(:last-child) {
  margin-bottom: 15px;
}
.anaylsis-option__advanced-inner-checkboxes {
  display: flex;
  flex-direction: column;
}
.anaylsis-option__advanced-inner-checkboxes > * {
  margin-left: 0 !important;
}
.anaylsis-option__advanced-label {
  font-weight: bold;
  text-align: center;
}
.analysis-option__group {
  align-items: center;
  display: flex;
  margin-top: 10px;
}
.analysis-option__group > :first-child {
  font-weight: bold;
  margin-right: 10px;
  width: 75px;
}
.analysis-option__label {
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 20px;
  text-align: center;
}
.analysis-option__details {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.analysis-option__details > :nth-child(odd) {
  justify-self: end;
  text-align: right;
}
.analysis-option__details-display > :nth-child(even) {
  width: 30px;
}
.analysis-option__details-display > :nth-child(odd) {
  width: 200px;
}
.analysis-option__details-order > :nth-child(even) {
  width: 30px;
}
.analysis-option__details-order > :nth-child(odd) {
  width: 50px;
}
.analysis-option__details-go {
  display: flex;
  flex-direction: column;
}
.analysis-option__details-go > * {
  margin-left: 0 !important;
}
.analysis-options__action-button {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.analysis-options__action-button-inner {
  height: 30px;
}
.analysis-options__action-button-inner > :first-child {
  margin-right: 5px;
}