@import 'style/button';
@import 'style/theme';

.panel__map {
  align-items: center;
  display: flex;
  justify-content: center;
  height: calc(100vh - 195px);
}
.panel__map-annotation {
  background-color: $warning;
  border-radius: 50%;
  height: 10px;
  position: absolute !important;
  width: 10px;
}
.panel__map-annotations,
.panel__map-markers {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.panel__map-inner {
  display: inline-block;
  position: relative;
}
.panel__map-inner img {
  height: auto;
  max-height: calc(100vh - 195px);
  max-width: 320px;
  width: auto;
}
.panel__map-marker {
  border: 1px solid black;
  position: absolute !important;
}
.panel__map-position {
  border: 1px dashed #000000;
  pointer-events: none;
  position: absolute;
}
.panel__map-select {
  @extend .nobutton;
  cursor: crosshair;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.panel__map-switch {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.panel__map-switch > :not(:last-child) {
  margin-right: 10px;
}
.panel__map-sync {
  text-align: center;
}
.panel__map-sync > :not(:last-child) {
  margin-bottom: 15px;
}
.panel__map-sync_error > :first-child {
  color: $warning;
  margin-right: 10px;
}
