.form__errors {
  background-color: rgba(211, 47, 47, 0.2);
  border: 1px solid rgba(211, 47, 47, 0.7);
  border-radius: 5px;
  margin-top: 25px;
  padding: 10px;
}
.form__errors > :first-child {
  font-weight: bold;
}
.form__errors > :last-child {
  font-size: 0.9em;
}
