@import 'style/button';

.submit {
  margin-top: 20px;
}
.submit__buttons {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  margin-top: 27px;
}
.submit__buttons > *:not(:last-child) {
  margin-bottom: 10px;
}
.submit__buttons-options {
  grid-column: 1;
  grid-row: 3;
}
.submit__buttons-submit {
  @extend .success-button;
  grid-column: 1;
  grid-row: 1;
}
.submit__buttons-warning {
  @extend .warning-button;
  grid-column: 1;
  grid-row: 2;
}
.submit_pending {
  grid-column: 2;
  grid-row: 1;
}
.submit_pending > :first-child{
  margin: 0 5px;
}
.submit__settings {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.submit__settings > *:not(:last-child) {
  margin-bottom: 5px;
}
.submit__status {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.submit__tag {
  cursor: default;
}

