@import 'style/link';

.HeaderSelection-container {
    margin-top: 25px;
}
.HeaderSelection-link {
  @extend .decorate-link;
}
.HeaderSelection-select-container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  margin-top: 15px;
  width: 100%;
}
