@import 'style/link';

.form__header-selection {
    margin-top: 25px;
}
.form__header-selection-link {
  @extend .decorate-link;
}
.form__header-selection-select {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  margin-top: 15px;
  width: 100%;
}
