@import 'style/reset';
@import 'style/button';

.button {
  @extend .button-reset;
  align-items: center;
  background-position: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 1em;
  justify-content: center;
  padding: 5px 10px;
  width: auto;
}
.button_default {
  @extend .button;
  @extend .default-button;
}
.button_disabled {
  @extend .button;
  @extend .disabled-button;
  opacity: 0.8;
}
.button_success {
  @extend .button;
  @extend .success-button;
}
.button_warning {
  @extend .button;
  @extend .warning-button;
}