.visualization__annotation {
  align-items: center;
  display: flex;
  max-width: 500px;
  min-width: 185px;
  width: 50%;
}
.visualization__annotation > :first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  
}
.visualization__annotation > button:first-of-type {
  border-radius: 0;
  height: 32px;
}
.visualization__annotation > button:last-of-type {
  border-radius: 0 4px 4px 0;
  height: 32px;
}