.analysis-options {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.analysis-options__button {
  height: 30px;
  margin-left: 10px;
};
.analysis-options__type-select.ant-select {
  min-width: 150px;
}
