.panel {
  animation: panelin 0.3s cubic-bezier(.17, .67, .16, .99);
  padding: 10px 15px;
}
.panel__border {
  margin: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}
.panel__title {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
@keyframes panelin {
  from {
    opacity: 0;
    transform: translateX(350px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
