.panel {
  animation: panelin 0.3s cubic-bezier(.17, .67, .16, .99);
  padding: 10px;
}
.panel__title {
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
@keyframes panelin {
  from {
    opacity: 0;
    transform: translateX(300px) rotateY(180deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotateY(0);
  }
}
