.customfield {
  display: flex;
}
.customfield__form-item {
  flex-grow: 1;
}
.customfield__help {
  cursor: pointer;
  margin-left: 20px;
  margin-top: 45px;
  width: 25px;
}
.customfield__switch-help {
  cursor: pointer;
  margin-left: 20px;
  margin-top: 5px;
  width: 25px;
}
// at 576, ant desin adds 10px to form items
@media (max-width: 575px) {
  .customfield__help {
    margin-top: 35px;
  }
}
