.CustomField-container {
  display: flex;
}
.CustomField-formItem {
  flex-grow: 1;
}
.CustomField-help {
  cursor: pointer;
  margin-left: 20px;
  margin-top: 45px;
  width: 25px;
}
// at 576, ant desin adds 10px to form items
@media (max-width: 575px) {
  .CustomField-help {
    margin-top: 35px;
  }
}
