@import 'style/link';
@import 'style/reset';
@import 'style/button';
@import 'style/theme';

.panel__save-archive > :first-child {
  align-items: center;
  display: flex;
  justify-content: center;
}
.panel__save-archive > :first-child > div::after {
  content: ':';
  margin-right: 10px;
}
.panel__save-archive > :last-child {
  margin-top: 25px;
  text-align: justify;
}
.panel__save-archive > :last-child > :first-child {
  color: $warning;
}
.panel__save-button {
  height: 32px;
  width: 32px;
}
.panel__save-button-image {
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  height: 32px;
  width: 32px;
}
.panel__save-image {
  display: flex;
  justify-content: center;
}
.panel__save-image .ant-select {
  min-width: 150px;
}
.panel__save-image .ant-select-selection {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.panel__save-link {
  @extend .decorate-link;
}
.panel__save-notification {
  margin-top: 10px;
  text-align: center;
}
.panel__save-warning {
  align-items: center;
  display: flex;
  justify-content: center;
}
.panel__save-warning > :first-child {
  color: $warning;
  margin-right: 5px;
}
