@import 'style/link';
@import 'style/reset';
@import 'style/button';
@import 'style/theme';

.panel__save-archive > :first-child {
  align-items: center;
  display: flex;
  justify-content: center;
}
.panel__save-archive > :first-child > div::after {
  content: ':';
  margin-right: 10px;
}
.panel__save-archive > :last-child {
  margin-top: 25px;
  text-align: justify;
}
.panel__save-archive > :last-child > :first-child {
  color: $warning;
}
.panel__save-button {
  height: 32px;
  width: 32px;
}
.panel__save-button-image {
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  height: 32px;
  width: 32px;
}
.panel__save-image {
  display: flex;
  justify-content: center;
}
.panel__save-image .ant-select {
  min-width: 150px;
}
.panel__save-image .ant-select-selection {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.panel__save-link {
  @extend .decorate-link;
}
.panel__save-notification {
  margin-top: 10px;
  text-align: center;
}
.panel__save-session {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.panel__save-session .ant-input {
  width: 182px;
}
.panel__save-session__grid {
  align-items: center;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-left: 0;
  margin-top: 15px;
}
.panel__save-session__grid > div:nth-child(even) {
  align-items: center;
  display: flex;
}
.panel__save-session__grid > div:nth-child(odd) {
  justify-self: right;
}
.panel__save-session__grid > div:nth-child(odd)::after {
  content: ':';
}
.panel__save-session__browser {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
}
.panel__save-session__browser > :first-child {
  margin-left: 10px;
}
.panel__save-session__browser-grid,
.panel__save-session__browser-header {
  border-bottom: 1px solid #e8e8e8;
  display: grid;
  font-size: 0.9em;
  grid-row-gap: 2px;
  grid-template-columns: 30px 120px 90px 30px 30px;
  width: 300px;
}
.panel__save-session__browser-grid > div,
.panel__save-session__browser-header > div {
  padding: 2px 5px;
  text-align: center;
}
.panel__save-session_ellipsis > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.panel__save-session__browser-header {
  font-weight: bold;
  margin-top: 5px;
}
.panel__save-session__browser-grid > div:nth-child(5n+2) > div {
  text-align: left;
}
.panel__save-session__browser .open-icon {
  @extend .button-reset;
  color: $primary-medium;
}
.panel__save-session__browser .close-icon {
  @extend .button-reset;
  color: $warning;
}
.panel__save-session__pageination {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  width: 300px;
}
.panel__save-session__pageination li {
  height: 26px;
  line-height: 26px;
  min-width: 26px;
  width: 26px;
}
.panel__save-session__pageination a {
  height: 26px;
}
.panel__save-warning {
  align-items: center;
  display: flex;
  justify-content: center;
}
.panel__save-warning > :first-child {
  color: $warning;
  margin-right: 5px;
}
@media (max-width: 374px) {
  .panel__save-session__browser > :first-child {
    margin-left: 0;
  }
  .panel__save-session__browser-grid,
  .panel__save-session__browser-header {
    grid-template-columns: 10% 40% 30% 10% 10%;
    width: 100%;
  }
  .panel__save-session__pageination {
    width: 100%;
  }
}
