@import 'style/reset';
@import 'style/button';

.panel__analysis-select {
  border-radius: 4px 0 0 4px;
  height: 170px;
  width: 120px;
}
.panel__analysis-select:focus {
  outline: 0;
}
.panel__analysis-select-arrow {
  @extend .button-reset;
  @extend .default-button;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
  align-items: center;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 25px;
}
.panel__analysis-selection > div:not(:first-child) {
  margin-top: 10px;
}
.panel__analysis-selection-button-group {
  display: flex;
  flex-direction: column;
}
.panel__analysis-selection-button-group > :first-child {
  margin-bottom: 5px;
}
.panel__analysis-selection-grid {
  align-items: center;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 2px;
  grid-template-columns: 120px auto 120px auto;
  grid-template-rows: auto 170px;
  justify-items: center;
}
.panel__analysis-selection-header {
  font-weight: 600;
}
@media (max-width: 374px) {
  .panel__analysis-select {
    width: 90px;
  }
  .panel__analysis-selection-grid {
    grid-column-gap: 4px;
    grid-template-columns: 90px auto 90px auto;
  }
}
