.pie-svg__segment-path + text.pie-svg__segment-text {
  opacity: 1;
  transition: all 0.3s cubic-bezier(.17, .67, .16, .99);
  visibility: visible;
}
.pie-svg__segment-path + text.pie-svg__segment-text_hidden {
  opacity: 0;
  transition: all 0.3s cubic-bezier(.17, .67, .16, .99);
  visibility: hidden;
}
.pie-svg__segment-path,
.pie-svg__slice {
  cursor: pointer;
  pointer-events: all;
  transition: all 0.3s cubic-bezier(.17, .67, .16, .99);
}
.pie-svg__segment-path:hover,
.pie-svg__segment-backdrop:hover + g > .pie-svg__segment-path,
.pie-svg__slice:hover {
  transform: scale(1.05);
}
.pie-svg__segment-path:hover + text,
.pie-svg__segment-backdrop:hover + g > text {
  opacity: 1;
  visibility: visible;
}
