@import 'theme/_theme.scss';

.FileInput-container {
  display: flex;
  flex-direction: column;
}
.FileInput-fa-icon {
  margin-right: 5px;
}
.FileInput-sample-button {
  color: $primary-medium;
  padding: 0;
  text-decoration: underline;
}
.FileInput-select {
  margin-right: 20px;
  width: 150px;
}
.FileInput-select-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.FileInput-upload-wrapper {
  width: 200px;
}
