@import 'style/button';
@import 'style/link';
@import 'style/theme';

.form__file-input {
  display: flex;
  flex-direction: column;
}
.form__file-input > p {
  margin: 0;
}
.form__file-input-fa-icon {
  margin-right: 5px;
}
.form__file-input-link {
  @extend .decorate-link;
}
.form__file-input-sample-button {
  @extend .nobutton;
  color: $primary-medium;
  padding: 0;
  text-decoration: underline;
}
.form__file-input-select {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.form__file-input-select-inner {
  margin-right: 20px;
  width: 150px;
}
.form__file-input-upload-wrapper {
  width: 200px;
}
