.Home-container {
  background-image: url("../assets/background/pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh);
  min-height: 300px;
  width: 100%; }

.Home-text {
  align-items: center;
  display: flex;
  color: #2A3132;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%; }
