@import 'style/theme';

.home {
  background-attachment: fixed;
  background-color: $backdrop-light;
  background-image: url('./assets/background/network.svg');
  /* background by SVGBackgrounds.com */
  perspective: 1px;
  text-align: center;
}
