.HelpNavButtons-backward-text {
  margin-left: 5px;
}
.HelpNavButtons-container {
  margin-bottom: 20px;
  margin-top: 20px;
}
.HelpNavButtons-forward {
  float: right;
}
.HelpNavButtons-forward-text {
  margin-right: 5px;
}
@media screen and (max-width: 680px) {
  .HelpNavButtons-backward {
    margin-left: 40px;
  }
}
