@import 'style/theme';

.help__nav-backward-text {
  margin-left: 5px;
}
.help__nav-buttons {
  margin-bottom: 20px;
  margin-top: 20px;
}
.help__nav-buttons a {
  color: $text-light;
  text-decoration: none;
}
.help__nav-forward {
  float: right;
}
.help__nav-forward-text {
  margin-right: 5px;
}
@media screen and (max-width: 680px) {
  .help__nav-backward {
    margin-left: 40px;
  }
}
