@import 'style/reset';
@import 'style/button';
@import 'style/style';
@import 'style/theme';

.float-map {
  @extend .boxshadow;
  background-color: $backdrop-light;
  border-radius: 3px;
  height: auto;
  min-width: 200px;
  position: fixed;
  transition: opacity 0.3s cubic-bezier(.17, .67, .16, .99);
  width: auto;
  z-index: 201;
}
.float-map__backdrop {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  height: 100vh;
  left: 0;
  width: 100vw;
  top: 0;
  z-index: 200;
}
.float-map__inner {
  border-top: 1px solid $primary-light;
}
.float-map__buttons {
  display: flex;
  padding: 2px;
}
.float-map__buttons button {
  height: 32px;
  width: 32px;
}
.float-map__buttons_left {
  left: 0;
}
.float-map__buttons_left > :not(:last-child) {
  margin-right: 5px;
}
.float-map__buttons_right {
  margin-left: auto;
  right: 0;
}
.float-map__buttons-move {
  color: #424242;
}
.float-map__resize {
  @extend .nobutton;
  background-image: url('../../../assets/icons/resize.svg');
  cursor: nesw-resize;
  bottom: 0;
  height: 15px;
  left: 0;
  padding: 0;
  position: absolute;
  width: 15px;
}