.ToolSelection-select-container {
  display: flex;
  margin-top: 15px;
}
.ToolSelection-select-type {
  margin-right: 20px;
  max-width: 125px !important;
  min-width: 125px !important;
}
.ToolSelection-tool-description {
}
