@import 'style/theme';

.navbar {
  display: flex;
  height: 40px;
  left: 0;
  line-height: 40px;
  padding: 0px 10px;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 10;
}
.navbar_dark {
  background-color: $backdrop-dark;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.navbar__link {
  font-weight: bold;
  margin: 0px 5px;
  text-transform: uppercase;
}
.navbar_dark a.navbar__link:link,
.navbar_dark a.navbar__link:visited {
  color: $accent-light;
}
.navbar_dark a.navbar__link:focus,
.navbar_dark a.navbar__link:hover,
.navbar_dark a.navbar__link:active {
  color: $primary-light;
}
.navbar__link-container {
  margin-left: auto;
}
.navbar__logo {
  height: 30px;
  margin-top: -5px;
}
.navbar__logo-link {
  justify-self: flex-start;
}
.navbar__menu {
  cursor: pointer;
  font-size: 1.8rem;
  margin-top: 8px;
}
.navbar_dark .navbar__menu,
.navbar_dark .navbar__tasks-icon {
  color: $accent-light;
}
.navbar__menu-items {
  display: flex;
  flex-direction: column;
}
.navbar_semi-transparent {
  background-color: rgba(51, 107, 135, 0.8);
  box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 2px 3px rgba(0,0,0,0.23);
}
.navbar_semi-transparent .navbar__menu,
.navbar_semi-transparent .navbar__tasks-icon {
  color: #eee;
}
.navbar_semi-transparent a.navbar__link:link,
.navbar_semi-transparent a.navbar__link:visited {
  color: #eee;
}
.navbar_semi-transparent a.navbar__link:focus,
.navbar_semi-transparent a.navbar__link:hover,
.navbar_semi-transparent a.navbar__link:active {
  color: $primary-dark;
}
.navbar__tasks-icon {
  cursor: pointer;
  font-size: 1.8rem;
  margin-right: 10px;
  margin-top: 8px;
}
.navbar_transparent {
  background-color: transparent;
}
.navbar_transparent a.navbar__link:link,
.navbar_transparent a.navbar__link:visited {
  color: $primary_dark;
}
.navbar_transparent a.navbar__link:focus,
.navbar_transparent a.navbar__link:hover,
.navbar_transparent a.navbar__link:active {
  color: $accent-dark;
}
.navbar_transparent .navbar__menu,
.navbar_transparent .navbar__tasks-icon {
  color: $primary_dark;
}
// menu links
.navbar__link:link,
.navbar__link:visited {
  color: $primary_dark;
}
.navbar__link:focus,
.navbar__link:hover
.navbar__link:active {
  color: $accent-dark;
}
