@import 'style/reset';
@import 'style/style';
@import 'style/theme';

.context-menu-column {
  @extend .boxshadow-medium;
  background-color: $backdrop-light;
  border: 1px solid $primary-medium;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: auto;
  opacity: 0;
  position: fixed;
  transition: opacity 0.5s ease;
  visibility: hidden;
  width: auto;
  z-index: 10;
}
.context-menu-column > :first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.context-menu-column > :last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.context-menu-column > button {
  @extend .button-reset;
  background-color: $backdrop-light;
  cursor: pointer;
  padding: 8px 10px;
  transition: background-color 0.5s ease;
}
.context-menu-column > button:hover {
  background-color: rgba(66, 134, 244, 0.4);
}
