@import 'style/theme';

.tasks {
  display: flex;
  height: calc(100vh - 40px);
  justify-content: center;
  padding: 20px;
  position: relative;
}
.tasks__complete > :first-child {
  color: $success;
  margin-right: 5px;
}
.tasks__error > :first-child,
.tasks__status-inner > :first-child {
  color: $warning;
  margin-right: 5px;
}
.tasks__files {
  align-items: center;
  display: inline-flex;
}
.tasks__files .ant-select {
  width: 150px;
}
.tasks__files .ant-select-selection {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.tasks__files button {
  height: 32px;
}
.tasks__files-download {
  margin-left: 10px;
}
.tasks__files-view {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.tasks__inner {
  max-width: 950px;
}
.tasks__modal {
  white-space: pre-line;
}
.tasks__refresh {
  position: absolute !important;
  right: 35px;
  top: 27px;
}
.tasks__running > :first-child {
  color: $primary-medium;
  margin-right: 5px;
}
.tasks__status {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 950px;
}