@import 'style/reset';
@import 'style/style';

.context-menu {
  @extend .boxshadow;
  height: auto;
  opacity: 0;
  position: fixed;
  transition: opacity 0.5s ease;
  visibility: hidden;
  width: auto;
  z-index: 10000;
}
.context-menu__inner {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
}
.context-menu__inner > * {
  @extend .button-reset;
  background-color: #fbfbfb;
  cursor: pointer;
  padding: 8px 10px;
  transition: background-color 0.5s ease;
}
.context-menu__inner > *:hover {
  background-color: rgba(66, 134, 244, 0.4);
}
