@import 'style/reset';
@import 'style/style';

.context-menu {
  @extend .boxshadow-faint;
  background-color: #fbfbfb;
  border: 1px solid #abc3d3;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: auto;
  opacity: 0;
  position: fixed;
  transition: opacity 0.5s ease;
  visibility: hidden;
  width: auto;
  z-index: 10000;
}
.context-menu > :first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.context-menu > :last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.context-menu > * {
  @extend .button-reset;
  background-color: #fbfbfb;
  cursor: pointer;
  padding: 8px 10px;
  transition: background-color 0.5s ease;
}
.context-menu > *:hover {
  background-color: rgba(66, 134, 244, 0.4);
}
