@import 'style/theme';

// link classes
.decorate-link,
.decorate-link:hover {
  text-decoration: underline;
}
a.basic-link {
  color: $primary-medium;
}
a.basic-link:hover {
  color: $accent-light;
}
a.basic-link:visited {
  color: $accent-dark !important;
}
