@import 'style/reset';

.heatmap-svg__arrows {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform-origin: bottom right;
  width: auto;
}
.heatmap-svg__arrows > button:not(:last-child) {
  margin-bottom: 5px;
}
.heatmap-svg__arrows-button {
  @extend .button-reset;
  font-size: 1.5em;
}