@import 'style/reset';
@import 'style/theme';

.heatmap-svg__arrows {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform-origin: bottom right;
  width: auto;
}
.heatmap-svg__arrows > button:not(:last-child) {
  margin-bottom: 5px;
}
.heatmap-svg__arrows-button {
  @extend .button-reset;
  color: #2e3738;
  font-size: 1.5em;
}
.heatmap-svg__arrows-button_font-small {
  @extend .heatmap-svg__arrows-button;
  font-size: 1.3em;
}