@import 'style/style';
@import 'style/theme';

.HelpBar-breadcrumb {
  opacity: 1;
  transition: opacity;
}
.HelpBar-button {
  left: 5px;
  opacity: 0;
  position: absolute;
  bottom: 5px;
  transition: opacity;
}
.HelpBar-container {
  position: fixed;
  top: 40px;
  z-index: 5;
}
.HelpBar-panel {
  @extend .boxshadow;
  background-color: $primary-light;
  height: calc(100vh - 40px);
  padding: 5px 10px;
  transition: width 0.3s ease-out;
  transition-timing-function: cubic-bezier(.17, .67, .16, .99);
  width: 180px;
}
@media screen and (max-width: 680px) {
  .HelpBar-breadcrumb {
    opacity: 1;
    transition-duration: 0.4s;
  }
  .HelpBar-button {
    opacity: 1;
    transition-duration: 0.2s;
  }
  .HelpBar-panel {
    padding: 5px 0px;
    width: 0px;
  }
}
@media screen and (min-width: 681px) {
  .HelpBar-breadcrumb {
    opacity: 1;
    transition-duration: 0.4s;
  }
  .HelpBar-button {
    opacity: 0;
    transition-duration: 0.1s;
  }
}
.HelpBar-breadcrumb-transition-in {
  opacity: 1;
  transition: opacity 0.4s;
}
.HelpBar-breadcrumb-transition-out {
  opacity: 0;
  transition: opacity 0.1s;
}
.HelpBar-button-transition-in {
  left: 140px;
  transition: left 0.3s;
}
.HelpBar-button-transition-out {
  left: 5px;
  transition: left 0.3s;
}
.HelpBar-panel-transition-in {
  padding: 5px 10px;
  transition: all 0.3s;
  width: 180px;
}
.HelpBar-panel-transition-out {
  padding: 5px 0px;
  transition: all 0.3s;
  width: 0px;
}
