@import 'style/font';
@import 'style/theme';

.missing {
  align-items: center;
  background-color: $primary-dark;
  color: $text-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.missing > h1 {
  color: inherit;
  font-family: $TitleFont;
  font-size: 2.5em;
}
.missing > p {
  font-size: 1.2em;
  margin-top: 20px;
  max-width: 800px;
}
.Missing-nav-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  max-width: 800px;
}
.Missing-nav-buttons Button {
  margin-left: 10px;
  margin-right: 10px;
}
