@import 'style/animations';
@import 'style/style';
@import 'style/theme';

.newsfeed {
  @extend .fadein;
  @extend .boxshadow;
  align-self: start;
  background-color: $backdrop-light;
  border-radius: 2px;
  display: inline-flex;
  flex-direction: column;
  font-family: BodyText;
  grid-column: 1;
  grid-row: 3;
  height: auto;
  margin: 20px 20px 0 20px;
  max-height: 200px;
  max-width: 350px;
  padding: 2px;
  width: auto;
}
.newsfeed__header {
  background-color: $backdrop-dark;
  color: $text-light;
  padding: 2px;
}
.newsfeed__inner {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  padding: 5px;
}
.newsfeed__inner-date {
  justify-self: right;
  grid-column: 1;
}
.newsfeed__inner-news {
  justify-self: left;
  grid-column: 2;
  text-align: left;
}
// menu links
.newsfeed__link:link {
  color: $primary_dark;
}
.newsfeed__link:visited {
  color: $primary_dark;
}
.newsfeed__link:hover {
  color: $accent-dark;
}
@media (max-width: 999px) {
  .newsfeed {
    grid-column: 1 / 3;
  }
}
