@import 'theme/_theme.scss';

.Newsfeed-container {
  background-color: $backdrop-light;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  font-family: BodyText;
  height: auto;
  margin-top: 20px;
  max-height: 200px;
  max-width: 350px;
  padding: 2px;
  width: auto;
}
.Newsfeed-header {
  background-color: $backdrop-dark;
  color: $text-light;
  padding: 2px;
}
.Newsfeed-content {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  padding: 5px;
}
.Newsfeed-content-date {
  justify-self: right;
  grid-column: 1;
}
.Newsfeed-content-news {
  justify-self: left;
  grid-column: 2;
}
// menu links
.Newsfeed-link:link {
  color: $primary_dark;
}
.Newsfeed-link:visited {
  color: $primary_dark;
}
.Newsfeed-link:hover {
  color: $accent-dark;
}
