.fadein, .Spotlight-container {
  animation: fadein 1s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Spotlight-container {
  background-image: url("../assets/background/pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: BodyText;
  justify-content: center;
  min-height: 376px;
  padding: 40px 20px; }

.Spotlight-carousel {
  margin-top: 15px;
  width: calc(100vw - 40px); }

.Spotlight-carousel-container {
  align-items: center;
  display: flex !important;
  justify-content: center;
  padding: 10px;
  width: 900px; }

.Spotlight-carousel-description {
  color: #2A3132;
  margin-left: 10px;
  max-width: 700px; }

.Spotlight-carousel-image-container {
  margin-top: 5px;
  max-height: 200px;
  max-width: 200px;
  min-width: 200px; }

.Spotlight-carousel-image {
  max-height: 100%;
  max-width: 100%; }

.Spotlight-header {
  font-family: TitleFont;
  font-size: 1.3em;
  margin-bottom: 10px;
  position: relative; }

.Spotlight-header:before {
  content: "";
  position: absolute;
  width: 7%;
  height: 1px;
  bottom: 0;
  left: 46.5%;
  border-bottom: 2px solid #2A3132; }

.Spotlight-howto {
  color: #2A3132;
  margin-top: 20px; }

.Spotlight-link-container {
  margin-bottom: 10px;
  margin-top: 5px; }

.Spotlight-link {
  color: #763626;
  margin: 0px 10px; }

.Spotlight-link:visited {
  color: #336B87; }

.Spotlight-link:hover {
  color: #336B87; }

.ant-carousel {
  display: flex !important;
  height: auto;
  justify-content: center; }

.ant-carousel .slick-dots li button {
  border: 0;
  cursor: pointer;
  background: #763626;
  border-radius: 1px;
  color: transparent;
  display: block;
  font-size: 0;
  height: 10px;
  opacity: 0.3;
  outline: none;
  padding: 0;
  transition: all .5s;
  width: 20px; }

.ant-carousel .slick-dots li.slick-active button {
  background: #AC867C;
  opacity: 1;
  width: 30px; }

@media screen and (max-width: 899px) {
  .Spotlight-carousel-container {
    width: calc(100vw - 9%); }
  .Spotlight-carousel {
    max-width: calc(100vw - 9%); }
  .Spotlight-carousel-description {
    max-width: calc(100vw - 32%); }
  .Spotlight-carousel-image-container {
    max-height: calc(100vw / 5);
    max-width: calc(100vw / 5);
    min-width: calc(100vw / 5); } }

@media screen and (max-width: 699px) {
  .Spotlight-carousel-container {
    align-items: flex-start; } }

@media screen and (max-width: 499px) {
  .Spotlight-carousel-description {
    text-align: justify;
    max-width: calc(100vw - 20%); }
  .Spotlight-carousel-image-container {
    display: none; } }
