.fadein, .spotlight {
  animation: fadein 1s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.spotlight {
  background-color: #90AFC5;
  display: flex;
  flex-direction: column;
  font-family: BodyText;
  justify-content: center;
  min-height: 376px;
  padding: 40px 20px; }

.spotlight__carousel {
  margin-top: 15px;
  width: calc(100vw - 40px); }

.spotlight__carousel-description {
  color: #2A3132;
  margin-left: 10px;
  max-width: 700px; }

.spotlight__carousel-images {
  border: 4px solid #336B87;
  border-radius: 2px;
  margin-top: 5px;
  max-height: 250px;
  max-width: 250px;
  min-width: 200px; }

.spotlight__carousel-image {
  max-height: 100%;
  max-width: 100%; }

.spotlight__carousel-inner-flex {
  display: flex !important;
  justify-content: center; }

.spotlight__carousel-inner {
  align-items: center;
  background-color: #f5f5f5;
  background-image: url("../assets/background/cubes.png");
  /* background by SVGBackgrounds.com */
  border-radius: 3px;
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 900px; }

.spotlight__header {
  font-family: TitleFont;
  font-size: 1.3em;
  margin-bottom: 10px;
  position: relative; }

.spotlight__header:before {
  content: "";
  position: absolute;
  width: 7%;
  height: 1px;
  bottom: 0;
  left: 46.5%;
  border-bottom: 2px solid #2A3132; }

.spotlight__howto {
  color: #2A3132;
  margin-top: 20px; }

.spotlight__link {
  margin: 0px 10px; }

.spotlight__link:link,
.spotlight__link:visited {
  color: #763626; }

.spotlight__link:focus,
.spotlight__link:hover,
.spotlight__link:active {
  color: #336B87; }

.spotlight__links {
  margin-bottom: 10px;
  margin-top: 5px; }

.ant-carousel {
  display: flex;
  height: auto;
  justify-content: center; }

.ant-carousel .slick-dots {
  bottom: 15px; }

.ant-carousel .slick-dots li button {
  border: 0;
  cursor: pointer;
  background: #763626;
  border-radius: 1px;
  color: transparent;
  display: block;
  font-size: 0;
  height: 10px;
  opacity: 0.3;
  outline: none;
  padding: 0;
  transition: all .5s;
  width: 20px; }

.ant-carousel .slick-dots li.slick-active button {
  background: #AC867C;
  opacity: 1;
  width: 30px; }

@media screen and (max-width: 899px) {
  .spotlight__carousel-inner-flex {
    width: calc(100vw - 9%); }
  .spotlight__carousel {
    max-width: calc(100vw - 9%); }
  .spotlight__carousel-description {
    max-width: calc(100vw - 32%); }
  .spotlight__carousel-images {
    max-height: calc(100vw / 5);
    max-width: calc(100vw / 5);
    min-width: calc(100vw / 5); } }

@media screen and (max-width: 699px) {
  .spotlight__carousel-inner-flex {
    align-items: flex-start; } }

@media screen and (max-width: 499px) {
  .spotlight__carousel-description {
    text-align: justify;
    max-width: calc(100vw - 20%); }
  .spotlight__carousel-images {
    display: none; } }
