.Form-container {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  width: 100%;
}
.Form-fields {
  max-width: 800px;
  width: 100%;
}
.Form-options-button {
  float: right;
}
.Form-submit-container {
  margin-top: 20px;
}
