.Clustering-header {
  font-size: 16px;
  font-weight: 500;
}
.Clustering-introduction {
  margin: 10px 0;
}
.Clustering-biclustering-checkbox {
  display: flex;
}
.Clustering-biclustering-checkbox-label {
  margin-right: 10px;
  margin-top: 8px;
  width: 250px;
}
