@import 'style/ant';
@import 'style/link';

.form__option-clustering-header {
  @extend .ant-text;
  font-size: 16px;
  font-weight: 500;
}
.form__option-clustering-checkbox {
  display: flex;
  margin-right: 10px;
  min-width: 250px;
  width: 25%;
}
.form__option-clustering-checkbox-label {
  @extend .ant-text;
  margin-right: 10px;
  margin-top: 8px;
  width: 170px;
}
.form__option-clustering-introduction {
  @extend .ant-text;
  margin: 10px 0;
}
.form__option-clustering-introduction-link {
  @extend .decorate-link;
}
.form__option-clustering-biclustering-checkbox {
  display: flex;
}
.form__option-clustering-biclustering-checkbox-label {
  @extend .ant-text;
  margin-right: 10px;
  margin-top: 8px;
  width: 250px;
}
