.form__option-normalization {
  display: flex;
  flex-wrap: wrap;
}
.form__option-normalization-input {
  width: 50%;
}
.form__option-normalization-select {
  flex-grow: 1;
}
@media (max-width: 499px) {
  .form__option-normalization-input {
    min-width: 250px;
    width: 100%;
  }
}
