.PreyLengthNormalization-container {
  display: flex;
}
.PreyLengthNormalization-checkbox {
  display: flex;
  margin-top: 38px;
  min-width: 250px;
  width: 25%;
}
.PreyLengthNormalization-checkbox-label {
  margin-right: 10px;
  margin-top: 8px;
  width: 170px;
}
.PreyLengthNormalization-select {
  margin-left: 10px;
  flex-grow: 1;
}
