@import 'style/reset';
@import 'style/button';

.panel__info-legend {
  display: flex;
  font-size: 12px;
  justify-content: center;
}
.panel__info-legend-save {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.panel__info-legend-save > div::after {
  content: ':';
  margin-right: 10px;
}
.panel__info-legend-save-button {
  @extend .button-reset;
  @extend .default-button;
  align-items: center;
  background-position: center;
  border-radius: 4px;
  display: flex;
  font-size: 18px;
  height: 32px;
  justify-content: center;
  width: 32px;
}
.panel__info-name {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 50% 50%;
}
.panel__info-name > :first-child {
  font-weight: bold;
  justify-self: end;
}
.panel__info-name > :nth-child(3) {
  grid-column: 1/3;
  justify-self: center;
}
.panel__info-settings {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 50% 50%;
}
.panel__info-settings > div:nth-child(odd) {
  justify-self: end;
}
.panel__info-settings > div:nth-child(odd)::after {
  content: ':'
}
