@import 'theme/_theme.scss';

.Pipeline-clouds {
  transform-origin: 93px 130px;
}
.Pipeline-container {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.Pipeline-datapoint-text {
  fill: $accent-dark;
  font-family: Cartoon;
  font-size: 1.2em;
  text-align: right;
  will-change: 'opacity, transform';
}
.Pipeline-datapoint-circle {
  fill: $backdrop-light;
  will-change: 'opacity, transform';
}
.Pipeline-heatmap-circle {
  will-change: 'opacity, transform';
}
.Pipeline-heatmap-rect {
  will-change: 'opacity, transform';
}
.Pipeline-leftgContainer {
  height: 30;
}
.Pipeline-shadow {
  filter: drop-shadow(2px 2px 2px #424242);
}
