@import 'style/reset';
@import 'theme/theme';
@import '../panel.scss';

.panel__settings-button {
  @extend .button-reset;
  align-items: center;
  background-color: $primary-medium;
  background-position: center;
  border-radius: 0 4px 4px 0;
  color: $text-light;
  display: flex;
  font-size: 18px;
  height: 32px;
  justify-content: center;
  transition: background 0.5s ease;
  width: 32px;
}
.panel__settings-button_round-borders-all {
  border-radius: 4px;
  justify-self: end;
  margin-left: 70px;
}
.panel__settings-button:hover {
  background: $primary-dark radial-gradient(circle, transparent 1%, $primary-dark 1%) center/15000%;
}
.panel__settings-button:active {
  background-color: $primary-light;
  background-size: 100%;
  transition: background 0s;
}
.panel__settings-basic,
.panel__settings-filter,
.panel__settings-palette {
  align-items: center;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 150px 155px;
  margin-left: 0;
  margin-top: 15px;
}
.panel__settings-basic > div:nth-child(even),
.panel__settings-filter > div:nth-child(even),
.panel__settings-palette > div:nth-child(even) {
  align-items: center;
  display: flex;
}
.panel__settings-basic > div:nth-child(odd),
.panel__settings-filter > div:nth-child(odd),
.panel__settings-palette > div:nth-child(odd) {
  justify-self: right;
}
.panel__settings-basic > div:nth-child(odd)::after,
.panel__settings-filter > div:nth-child(odd)::after,
.panel__settings-palette > div:nth-child(odd)::after {
  content: ':';
}
.panel__settings-filter .ant-input-number,
.panel__settings-basic .ant-select-selection,
.panel__settings-palette .ant-select-selection {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 115px;
}
