@import 'style/reset';
@import 'style/button';
@import 'style/theme';

.panel__settings-button_theme-sync {
  @extend .button-reset;
  @extend .default-button;
  align-items: center;
  background-position: center;
  border-radius: 0 4px 4px 0;
  display: flex;
  font-size: 16px;
  height: 32px;
  justify-content: center;
  width: 32px;
}
.panel__settings-button_theme-notsync {
  @extend .button-reset;
  @extend .success-button;
  align-items: center;
  background-position: center;
  border-radius: 0 4px 4px 0;
  display: flex;
  font-size: 16px;
  height: 32px;
  justify-content: center;
  width: 32px;
}
.panel__settings-button-invert {
  border-radius: 4px;
  justify-self: end;
  margin-left: 70px;
}
.panel__settings-basic,
.panel__settings-filter,
.panel__settings-palette {
  align-items: center;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 150px 155px;
  justify-content: center;
}
.panel__settings-basic > div:nth-child(even),
.panel__settings-filter > div:nth-child(even),
.panel__settings-palette > div:nth-child(even),
.panel__settings-reset > div:nth-child(even) {
  align-items: center;
  display: flex;
}
.panel__settings-basic > div:nth-child(odd),
.panel__settings-filter > div:nth-child(odd),
.panel__settings-palette > div:nth-child(odd),
.panel__settings-reset > div:nth-child(odd) {
  justify-self: right;
}
.panel__settings-basic > div:nth-child(odd)::after,
.panel__settings-filter > div:nth-child(odd)::after,
.panel__settings-palette > div:nth-child(odd)::after,
.panel__settings-reset > div:nth-child(odd)::after {
  content: ':';
}
.panel__settings-basic .ant-select-selection,
.panel__settings-basic .ant-input-number,
.panel__settings-filter .ant-input-number,
.panel__settings-palette .ant-select-selection {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 115px;
}
.panel__settings-reset {
  align-items: center;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}
.panel__settings-reset-button {
  @extend .button-reset;
  @extend .warning-button;
  align-items: center;
  background-position: center;
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  height: 32px;
  justify-content: center;
  width: 32px;
}
@media (max-width: 374px) {
  .panel__settings-basic,
  .panel__settings-filter,
  .panel__settings-palette {
    align-items: center;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 150px 115px;
    justify-content: center;
    margin-left: 0;
  }
  .panel__settings-basic .ant-select-selection,
  .panel__settings-basic .ant-input-number,
  .panel__settings-filter .ant-input-number,
  .panel__settings-palette .ant-select-selection {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 75px;
  }
  .panel__settings-button-invert {
    margin-left: 30px;
  }
}
