@import 'style/reset';

.table {
  width: 100%;
}
.table__body {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}
.table__body-right {
  z-index: 1;
}
.table__body-right-inner {
  display: grid;
  grid-row-gap: 10px;
}
.table__cell {
  padding: 0 2px;
  text-align: center;
}
.table__cell-overflow {
  position: relative;
  text-align: left;
}
.table__cell-overflow:hover .table__cell-raw {
  display: block;
}
.table__cell-clipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table__cell-raw {
  background-color: #ffffff;
  display: none;
  font-weight: bold;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 5;
}
.table__first-column {
  z-index: 2;
}
.table__first-column > div {
  background-color: #fff;
  border-right: 1px solid #ccc;
  padding-right: 5px;
  padding-top: 10px;
}
.table__first-column > div:last-child {
  padding-bottom: 10px;
}
.table__header {
  background-color: #eee;
  box-sizing: border-box;
  display: flex;
  font-weight: bold;
  height: 48px;
}
.table__header-cell {
  height: 27px;
  line-height: 27px;
  padding: 10px 5px;
  text-align: center;
  vertical-align: middle;
}
.table__header-cell button {
  @extend .button-reset;
  display: inline-flex;
  flex-direction: column;
  margin-left: 10px;
  position: relative;
  top: -2px;
}
.table__header-cell button > :not(:first-child) {
  margin-top: -5px;
}
.table__header-right {
  flex-grow: 1;
  overflow: hidden;
}
.table__header-right-inner {
  display: grid;
}
.table__horizontal-scroll {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-top: -1px;
  overflow-x: auto;
  padding: 0 1px;
}
.table__horizontal-scroll > div {
  height: 1px;
}
@media (max-width: 768px) {
  .table__body * {
    pointer-events: none;
  }
  .table__body a,
  .table__body button,
  .table__body select {
    pointer-events: auto;
  }
}