@import 'theme/_theme.scss';

.News-item-container {
  max-width: 1000px;
}
.News-item-child {
  display: flex;
  flex-direction: column;
  max-width: 950px;
  position: relative;
  top: 0;
}
.News-item-date {
  font-size: 1.2em;
}
.News-item-details {
  margin-top: 20px;
}
.News-item-headline {
  font-size: 1.5em;
  font-weight: bold;
}
.News-item-navbuttons {
  display: flex;
  flex-direction: column;
  left: -40px;
  position: absolute;
  top: 8px;
}
.News-item-navlink,
.News-item-navlink:hover,
.News-item-navlink:visited, {
  color: $accent-dark;
}
