@import 'style/font';
@import 'style/theme';

.error {
  align-items: center;
  background-color: $primary-dark;
  color: $text-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.error > h1 {
  color: inherit;
  font-family: $TitleFont;
  font-size: 2.5em;
}
.error > p {
  font-size: 1.2em;
  margin-top: 20px;
  max-width: 800px;
  text-align: center;
}
.error__nav-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  max-width: 800px;
}
.error__nav-buttons Button {
  margin-left: 10px;
  margin-right: 10px;
}
