@import 'style/reset';
@import 'style/theme';

.round-button {
  @extend .button-reset;
  background-color: $primary-medium;
  border-radius: 50%;
  color: $text-light;
  height: 36px;
  opacity: 1;
  transition: background-color 0.5s ease;
  width: 36px;
}
.round-button:hover {
  background-color: $primary-dark;
}