@import 'style/font';
@import 'style/button';
@import 'style/style';
@import 'style/theme';

.toolbox {
  @extend .boxshadow;
  background-color: $backdrop-light;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 20px;
  min-height: 140px;
  max-width: 320px;
  padding: 10px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: auto;
}
.toolbox:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.toolbox__button {
  @extend .nobutton;
}
.toolbox__details {
  align-items: center;
  display: flex;
}
.toolbox__image {
  align-items: center;
  color: $accent-dark;
  display: flex;
  font-size: 50px;
  margin-left: 10px;
}
.toolbox__details > p {
  color: $text-dark;
  font-size: 0.9em;
  margin: 0;
  padding: 10px;
  text-align: justify;
}
.toolbox > h4 {
  color: $accent-dark;
  font-family: $TitleFont;
  font-size: 1.1em;
  text-transform: uppercase;
}
@media (max-width: 499px) {
  .toolbox {
    margin: 20px 0;
  }
}
