.tools {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px 20px; }

.tools__description {
  color: #763626;
  font-family: TitleFont;
  font-size: 1.3em;
  margin-bottom: 10px;
  position: relative; }

.tools__description:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 2px solid #763626; }

.tools__toolbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px; }

@media (max-width: 768px) {
  .tools {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px; } }
