@import 'style/theme';

.Tools-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.Tools-description {
  color: $accent-dark;
  font-family: TitleFont;
  font-size: 1.3em;
  margin-bottom: 10px;
  position: relative;
}
.Tools-description:before{
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 2px solid $accent-dark;
}
.Tools-toolbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}
