@import 'theme/_theme.scss';

.Tools-container {
  align-items: center;
  background-color: $backdrop-light;
  background-image: url('../assets/background/network.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.Tools-description {
  color: $accent-dark;
  font-family: TitleFont;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.Tools-toolbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}
