.Tools-container {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.Tools-description {
  color: #763626;
  font-family: TitleFont;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.Tools-toolbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}
