@import 'theme/_theme.scss';

.ToolBox-container {
  background-color: $backdrop-light;
  cursor: pointer;
  display: grid;
  grid-template-columns: 240px 70px;
  grid-template-rows: 20px 110px;
  height: 140px;
  margin: 20px 20px;
  padding: 10px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 320px;
}
.ToolBox-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.ToolBox-image {
  align-items: center;
  color: $accent-dark;
  display: flex;
  font-size: 50px;
  justify-content: center;
  grid-row: 2;
  grid-column: 2;
}
.ToolBox-text {
  align-items: center;
  color: $text-dark;
  display: flex;
  font-family: BodyText;
  font-size: 0.9em;
  grid-row: 2;
  grid-column: 1;
  padding: 10px;
  text-align: justify;
}
.ToolBox-title {
  color: $accent-dark;
  font-family: TitleFont;
  font-size: 1.1em;
  grid-row: 1;
  grid-column: 1;
  text-transform: uppercase;
}
@media (max-width: 499px) {
  .ToolBox-container {
    grid-template-columns: 220px 70px;
    grid-template-rows: 20px 110px;
    width: 300px;
  }
}
