.nobutton, .toolbox__button {
  background-color: transparent;
  border: none;
  cursor: pointer; }

.nobutton:focus, .toolbox__button:focus {
  outline: 0; }

.basic-button, .default-button,
.default-button:focus, .disabled-button,
.disabled-button:focus,
.disabled-button:hover,
.disabled-button:active, .success-button,
.success-button:focus, .warning-button,
.warning-button:focus {
  background-position: center;
  transition: background 0.5s; }

.default-button,
.default-button:focus {
  background-color: #336B87;
  color: #f5f5f5; }

.default-button:hover {
  background: #1b4459 radial-gradient(circle, transparent 1%, #1b4459 1%) center/15000%;
  color: #f5f5f5; }

.default-button:active {
  background-color: #f5f5f5;
  background-size: 100%;
  transition: background 0s; }

.disabled-button,
.disabled-button:focus,
.disabled-button:hover,
.disabled-button:active {
  background-color: backdrop-light;
  border: 1px solid #616161;
  color: #2A3132;
  cursor: not-allowed; }

.success-button,
.success-button:focus {
  background-color: #43a047;
  color: #f5f5f5; }

.success-button:hover {
  background: #1b5e20 radial-gradient(circle, transparent 1%, #1b5e20 1%) center/15000%;
  color: #f5f5f5; }

.success-button:active {
  background-color: #f5f5f5;
  background-size: 100%;
  transition: background 0s; }

.warning-button,
.warning-button:focus {
  background-color: #f44336;
  color: #f5f5f5; }

.warning-button:hover {
  background: #b71c1c radial-gradient(circle, transparent 1%, #b71c1c 1%) center/15000%;
  color: #f5f5f5; }

.warning-button:active {
  background-color: #f5f5f5;
  background-size: 100%;
  transition: background 0s; }

.pulse-button-primary {
  animation: pulse-primary 1.25s 3 cubic-bezier(0.66, 0, 0, 1); }

.pulse-button-primary:hover {
  animation: none; }

@keyframes pulse-primary {
  from {
    box-shadow: 0 0 0 0 rgba(51, 107, 135, 0.7); }
  to {
    box-shadow: 0 0 0 10px rgba(51, 107, 135, 0); } }

.boxshadow, .toolbox {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.boxshadow-medium {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4); }

.boxshadow-faint {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4); }

.toolbox {
  background-color: #f5f5f5;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 20px;
  min-height: 140px;
  max-width: 320px;
  padding: 10px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: auto; }

.toolbox:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.toolbox__details {
  display: flex; }

.toolbox__image {
  align-items: center;
  color: #763626;
  display: flex;
  font-size: 50px;
  justify-content: center;
  margin-left: 10px; }

.toolbox__text {
  align-items: center;
  color: #2A3132;
  display: flex;
  font-size: 0.9em;
  padding: 10px;
  text-align: justify; }

.toolbox__title {
  color: #763626;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  text-transform: uppercase; }

@media (max-width: 499px) {
  .toolbox {
    margin: 20px 0; } }
